<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Shortcut>print</Shortcut>
      <Title>print</Title>
      <Author>Au</Author>
      <Description>AOutput.Write();</Description>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[AOutput.Write($end$);]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
